@keyframes portal
{
    0% { transform: rotate(0)}
    50% { transform: rotate(100)}
    100% { transform: rotate(0)}
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    height: 100vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    transition: transform 0.5s;
    transform: translateX(15vw);
}

.webgl.menuClose
{
    transform: translateX(0);
}

.loadingScreen
{
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    object-position: bottom;
    object-fit: cover;
    transition: transform 1.5s;
    transform: none;
}

.loadingScreen.ended
{
    transform-origin: top left;
    transition: transform 1.5s;
    transform: translateY(120vh);
}

.loadingButton
{
    position: absolute;
    z-index: 10002;
    left: calc(50% - 100px);
    bottom: 80px;
    width: 200px;
    transition: transform 0.5s;
    transform: none;
}

.loadingButton.ended
{
    transform-origin: top left;
    transition: transform 0.5s;
    transform: translateY(200px);
}

.loadingBar
{
    position: absolute;
    bottom: 104px;
    width: 100%;
    height: 10px;
    background: #e60509;
    z-index: 10001;
    transform-origin: top left;
    transition: transform 0.5s;
    transform: scaleX(0);
}

.loadingBar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.phone
{
    position: absolute;
    z-index: 5;
    height: 80vh;
    right: 64px;
    bottom: -50vh;
    cursor: pointer;
    transition: all linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 2s;
}

.phone.active
{
    bottom: 5vh;
}

.profile
{
    position: absolute;
    z-index: 5;
    top: 32px;
    left: 32px;
}

/* Menu */
.echap
{
    position: absolute;
    z-index: 15;
    top: 60px;
    left: 120px;
    transform: translateX(33vw);
    transform-origin: top left;
    transition: transform 0.5s;
    cursor: pointer;
}
.echap.menuClose
{
    transform: translateX(0);
    z-index: 5;
}

.menu
{
    position: absolute;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0%, 74% 100%, 0% 100%);
    width: 37vw;
    height: 100vh;
    z-index: 10;
    padding: 44px;
    gap: 30px;
    transition: transform 0.5s;
}

.menu.menuClose
{
    transition: transform 0.5s;
    transform: translateX(-45vw);
}

.title
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
    color: white;
    font-size: 10vh;
    margin-top: -30px;
}

h3
{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
    color: white;
    font-size: 30px;
}

h4
{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

p
{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
}

a
{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
}


.desc
{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
    color: white;
    margin-top: -25px;
    font-size: 14px;
}

.selection
{
    position: relative;
    width: 33vw;
    height: 29vh;
    margin-top: -40px;
    display: flex;
    gap: 40px;
}

.selection .miles
{
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer
}

.selection .gwen
{
    position: absolute;
    top: -25px;
    left: 215px;
    cursor: not-allowed;
} 

.selection .minecraft
{
    position: absolute;
    top: 131px;
    left: 0px;
    cursor: not-allowed;
}

.selection .lego
{
    position: absolute;
    top: 138px;
    left: 192px;
    z-index: 1;
    cursor: not-allowed;
}

.selection .miguel
{
    position: absolute;
    top: 14px;
    left: 414px;
    cursor: pointer;
}

.disclaimer p
{
    padding-right: 128px;
}

.sound
{
    position: absolute;
    bottom: 38px;
    right: 424px;
    cursor: pointer;
    z-index: 100;
}